{% extends "owners/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row mb-4">
    <div class="col">
        <h2 class="fw-bold">{{ page_title|default:"Form" }}</h2>
        {% if context_label %}
            <p class="text-muted">{{ context_label }}</p>
        {% endif %}
    </div>
</div>

<div class="card mb-4">
    <div class="card-header fw-bold">
        <i class="fas fa-edit me-2"></i>Details
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mb-3">
                {{ form|crispy }}
            </fieldset>
            
            <hr class="mb-4">
            <div class="d-flex justify-content-between">
                <a href="{{ back_url }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left me-2"></i>Back
                </a>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-save me-2"></i>Save
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
